{% extends 'base.html' %}


{% block content %}
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #2b3035; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

            {% if some_user.image %}

              <img src="{{ some_user.image.url }}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">

            {% else %}

                <p> аватарки нет </p>

            {% endif %}

            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ some_user.username }}</h5>
              <p>Дата регистрации: {{ some_user.date_joined }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">{{ some_user.total_likes }}</p>
                <p class="small text-muted mb-0">лайки</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{ some_user.total_dislikes }}</p>
                <p class="small text-muted mb-0">дизлайки</p>
              </div>
              <div>
                <p class="mb-1 h5">{{ some_user.total_likes|add:some_user.total_dislikes }}</p>
                <p class="small text-muted mb-0">рейтинг</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">

              <a type="button" style="z-index: 1;" class="btn btn-outline-dark" data-mdb-ripple-color="dark" href="{% url 'add_user_in_chat' some_user.id %}">
                пригласить юзера в чат
              </a>

              <a type="button" style="z-index: 1;" class="btn btn-outline-dark" data-mdb-ripple-color="dark" href="{% url 'send_message' some_user.id %}">
                написать сообщение
              </a>

            {% if profile_user.is_staff %}
            <a type="button" class="btn btn-danger" href="{% url 'permaban' some_user.pk %}">
                забанить пользователя
            </a>
            {% endif %}

            <div class="mb-5">


    {% if some_user == profile_user %}

    <p class="lead fw-normal mb-1">сменить аватарку</p>
    <form method="POST" enctype="multipart/form-data" action="{% url 'save_image'  %}">

    {% csrf_token %}

    <input type="file" name="image">

        {{ form.image }}

    <button type="submit">Загрузить</button>
    </form>

    {% endif %}

            </div>

<div class="container">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link active" id="posts-tab" data-bs-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Посты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="comments-tab" data-bs-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Комментарии</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <p class="lead fw-normal mb-0">Посты</p>
      </div>

      {% for post in page_obj %}
        <div class="row g-2">
          <div class="col mb-2">
            <a href="{% url 'post_detail' post.pk %}">
              <p>{{ post.title }}</p>
            </a>
          </div>
        </div>
      {% endfor %}

          <div class="posts_pagination">
        <nav aria-label="...">
          <ul class="pagination">

            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
              <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}">Назад</a>
            </li>


          {% for page_number in page_obj.paginator.page_range %}

            <li class="page-item {% if page_number == page_obj.number %} active {% endif %}">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>


          {% endfor %}
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Вперед</a>
            </li>



          </ul>
        </nav>
    </div>


    </div>

    <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <p class="lead fw-normal mb-0">Комментарии</p>
      </div>

    {% for comment in comment_page_obj %}
      <div class="row g-2">
        <div class="col mb-2">
          <a href="{{ comment.post.get_absolute_url }}">
            <p>{{ comment.text }}</p>
          </a>
        </div>
      </div>
    {% endfor %}
          <div class="posts_pagination">
        <nav aria-label="...">
          <ul class="pagination">

            <li class="page-item {% if not comment_page_obj.has_previous %} disabled {% endif %}">
              <a class="page-link" href="?page={% if comment_page_obj.has_previous %}{{ comment_page_obj.previous_page_number }}{% endif %}">Назад</a>
            </li>


          {% for page_number in comment_page_obj.paginator.page_range %}

            <li class="page-item {% if page_number == comment_page_obj.number %} active {% endif %}">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>


          {% endfor %}
            <li class="page-item {% if not comment_page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="?page={% if comment_page_obj.has_next %}{{ comment_page_obj.next_page_number }}{% endif %}">Вперед</a>
            </li>



          </ul>
        </nav>
    </div>

    </div>
  </div>
</div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}