{% extends 'base.html' %}


{% block content %}
<p>это страница пользователя {{ some_user.username }}</p>
<a type="button" class="btn btn-primary" href="{% url 'room' room_name=room_name %}">
      написать сообщение
</a>


<div class="form-group">
<label>Аватарка</label>
    {% if some_user.image %}
        <img src="{{ some_user.image.url }}" alt="аватарка по каким-то причинам не загрузилась...">
    {% else %}
        <p> аватарки нет </p>
    {% endif %}

    <h3>Посты пользователя: </h3>
    {% for post in some_user.posts.all %}
        <a href="{% url 'post_detail' post.pk %}">
        <p>{{ post.title }}</p>
        </a>
    {% endfor %}

    <h3>Комментарии пользователя: </h3>
    {% for comment in some_user.comments.all %}
    <a href="{{ comment.post.get_absolute_url }}">
        <p>{{ comment.text }}</p>
        </a>
    {% endfor %}

    <h3>сумма всех МОИХ лайков к постам: {{ some_user.liked_posts.count }}</h3>
    <h3>сумма всех МОИХ лайков к комментариям: {{ some_user.liked_comments.count }}</h3>

    <h3> всего лайков за посты и комментарии {{ some_user.total_likes }}</h3>

    <h3> всего дизлайков за посты и комментарии {{ some_user.total_dislikes }}</h3>

    <h3>рейтинг юзера {{ some_user.username }}: {{ some_user.total_likes|add:some_user.total_dislikes }}</h3>



    {% if some_user == profile_user %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'save_image'  %}">
    {% csrf_token %}
    <input type="file" name="image">
        {{ form.image }}
    <button type="submit">Загрузить аватарку</button>
    </form>
    {% endif %}

</div>


{% endblock %}