{% extends 'base.html' %}


{% block content %}
    {% if user not in community.subscribers.all and community.is_private and user != community.creator %}
        <p>Доступ запрещен</p>
    {% else %}
    <p>{{ community.creator }}</p>

    <h2>{{ community.title }}</h2>

    <p>{{ community.description }}</p>

    <div class="mt-2 mb-2">
    <a type="button" class="btn btn-dark" href="{% url 'subscribers' community.slug %}">
      Количество подписчиков: <span class="badge text-bg-secondary">{{ community.subscribers.count }}</span>
    </a>
    </div>


    <a type="button" class="btn btn-primary mr-2" href="{% url 'subscribe_community' community.slug %}">
      Подписаться
    </a>

    <a type="button" class="btn btn-danger mr-2" href="{% url 'unsubscribe_community' community.slug %}">
      Отписаться
    </a>

    <div class="mt-2">
    <a type="button" class="btn btn-dark" href="{% url 'post_create' community.slug %}">
      Создать пост
    </a>
    </div>

    {% if user == community.creator %}
        <div class="mt-2">
        <a type="button" class="btn btn-dark" href="{% url 'application_processing' community.slug %}">
          заявки на вступление <span class="badge text-bg-secondary">{{ community.application.count }}</span>
        </a>
        </div>
    {% endif %}

{% if community_posts %}
    {% for p in community_posts %}
        <div class="row">
            <div class="col mb-4">
                {% if p.author %}
                    <a href="{% url 'profile' p.author.pk %}" style="text-decoration: none; color: inherit;">
                    <h6>{{ p.author.username }}</h6>
                    </a>
                {% else %}
                    <h6>Аноним</h6>
                {% endif %}

                <p>{{ p.created_at|date:'Y-m-d H:i' }}</p>
                <a href="{% url 'post_detail' p.id %}" style="text-decoration:none; color:black;">
                    <h4>{{p.title}}</h4>
                </a>
            <div>
                {% if p.image %}
                    <a href="{% url 'post_detail' p.id %}">
                    <img src="{{ p.image.url }}" alt="картинки нет" style="width:400px; height: 300px;  object-fit: contain;" href="{% url 'post_detail' p.id %}">
                    </a>
                {% else %}
                    <p>Картинка отсутствует</p>
                {% endif %}
            </div>
            <div>
                <p>{{ p.description }}</p>

                <a type="button" class="btn btn-primary" href="{% url 'like_post' p.id %}">
                      Нравится <span class="badge text-bg-secondary">{{ p.likes.count }}</span>
                </a>

                <a type="button" class="btn btn-danger" href="{% url 'dislike_post' p.id %}">
                      Не нравится <span class="badge text-bg-secondary">{{ p.dislikes.count }}</span>
                </a>

                <a type="button" class="btn btn-dark" href="{% url 'post_detail' p.id %}">
                      Комментарии <span class="badge text-bg-secondary">{{ p.post_comments.count }}</span>
                </a>

                {% if user.is_staff %}
                <a type="button" class="btn btn-dark" href="{% url 'delete_post' p.id %}">
                      Удалить пост
                </a>
                {% endif %}

                <hr>
            </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Пока нет постов для этого сообщества.</p>
{% endif %}

{% endif %}
{% endblock %}