{% extends 'base.html' %}


{% block content %}

<h3>Это все сообщества</h3>

<div class="row">
    <div class="col-md-8">
      {% for c in communities %}
      <div class="row">
            <div class="col mb-4">
                {% if c.is_private %}
                    <p class="text-secondary">приватное сообщество</p>
                {% else %}
                    <p class="text-secondary">открытое сообщество</p>
                {% endif %}
                {{ c.creator }}
                <a href="{% url 'community_detail' c.slug %}">
                <h4>{{ c.title }}</h4>
                </a>
            </div>
          <div>
              <p>{{ c.description }}</p>
          </div>
          <div>
              <p>Количество подписчиков: {{ c.subscribers.count }}</p>
          </div>


      </div>

    {% if c.is_private %}
        <a type="button" class="btn btn-primary" href="{% url 'membership_application' c.slug %}">
          Подать заявку на вступление
        </a>

    {% else %}

        <a type="button" class="btn btn-primary" href="{% url 'subscribe_community' c.slug %}">
          Подписаться
        </a>

        <a type="button" class="btn btn-danger" href="{% url 'unsubscribe_community' c.slug %}">
          Отписаться
        </a>

    {% endif %}

        {% if user.is_authenticated and user in c.subscribers.all %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                    <span class="mr-2">&#10003;</span>
                    <p class="mb-0">Вы подписаны на это сообщество</p>
            </div>
        {% else %}
            <div class="alert alert-secondary" role="alert">
                    <p class="mb-0">Вы не подписаны</p>
            </div>
        {% endif %}
        ---------------------
      {% endfor %}
    </div>
</div>


{% endblock %}