{% extends 'base.html' %}


{% block content %}

<h3>список сообществ</h3>

<div class="row">
    <div class="col-md-8">
      {% for c in communities %}
      <div class="row">
            <div class="col mb-4">
                {% if c.is_private %}
                    <p class="text-secondary">приватное сообщество</p>
                {% else %}
                    <p class="text-secondary">открытое сообщество</p>
                {% endif %}
                {{ c.creator }}
                <a href="{% url 'community_detail' c.slug %}">
                <h4>{{ c.title }}</h4>
                </a>
            </div>
          <div>
              <p>{{ c.description }}</p>
          </div>
          <div>
              <p>Количество подписчиков: {{ c.subscribers.count }}</p>
          </div>


      </div>

    {% if c.is_private and user not in c.subscribers.all %}

        <a type="button" class="btn btn-primary" href="{% url 'membership_application' c.slug %}">
          Подать заявку на вступление
        </a>

    {% endif %}

    {% if user.is_authenticated and user in c.subscribers.all %}

        <a type="button" class="btn btn-danger" href="{% url 'unsubscribe_community' c.slug %}">
          Отписаться
        </a>

    {% elif not c.is_private %}

        <a type="button" class="btn btn-primary" href="{% url 'subscribe_community' c.slug %}">
          Подписаться
        </a>

    {% endif %}

    <hr>

  {% endfor %}

    </div>
</div>


{% endblock %}