{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container mt-3 mb-4">
<div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>Пользователь</th>
                <th class="text-center">Рейтинг</th>
              </tr>
            </thead>
            <tbody>

            {% for s in subscribers %}

              <tr class="candidates-list">
                <td class="title">
                  <div class="thumb">
                    <img class="img-fluid" src="{{ s.image.url }}" alt="">
                  </div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">

                        <h5 class="mb-0"><a href="{% url 'profile' s.pk %}" style="text-decoration: none; color: inherit;">{{ s }}</a></h5>
                        {% if request_user == community.creator %}
                                <a type="button" class="btn btn-danger" href="{% url 'exclude_user' community_slug=community.slug user_id=s.pk %}">
                                      исключить юзера
                                </a>
                        {% endif %}
                      </div>
                      <div class="candidate-list-option">
<!--                        <ul class="list-unstyled">-->
<!--                          <li><i class="fas fa-filter pr-1"></i>Information Technology</li>-->
<!--                          <li><i class="fas fa-map-marker-alt pr-1"></i>Rolling Meadows, IL 60008</li>-->
<!--                        </ul>-->
                      </div>
                    </div>
                  </div>
                </td>
                <td class="candidate-list-favourite-time text-center">
                  <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a>
                  <span class="candidate-list-time order-1">{{ s.total_likes|add:s.total_dislikes }}</span>
                </td>

              </tr>

            {% endfor %}

            </tbody>

          </table>
          <div class="posts_pagination">
        <nav aria-label="...">
          <ul class="pagination">

            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
              <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}">Назад</a>
            </li>


          {% for page_number in page_obj.paginator.page_range %}

            <li class="page-item {% if page_number == page_obj.number %} active {% endif %}">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>


          {% endfor %}
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Вперед</a>
            </li>



          </ul>
        </nav>
    </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}