{% extends 'base.html' %}

{% block title %}
    Все посты
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
      <div class="mb-4">
        <h4>Filters</h4>
        <hr>
        <!-- здесь добавляем элементы фильтрации -->
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
      {% for p in page_obj %}
        {% if not p.community.is_private %}
        <div class="row">
            <div class="col mb-4">
                {% if p.community %}
                <a href="{% url 'community_detail' p.community.slug %}" class="text-decoration-none">
                    <h6 class="text-secondary">{{ p.community.title }}</h6>
                </a>
                {% endif %}
                {% if p.author %}
                    <a href="{% url 'profile' p.author.pk %}" style="text-decoration: none; color: inherit;">
                    <h6>{{ p.author.username }}</h6>
                    </a>
                {% else %}
                    <h6>Аноним</h6>
                {% endif %}

                <p>{{ p.created_at|date:'Y-m-d H:i' }}</p>
                <a href="{% url 'post_detail' p.id %}" style="text-decoration:none; color:black;">
                    <h4>{{p.title}}</h4>
                </a>
            <div>
                {% if p.image %}
                    <a href="{% url 'post_detail' p.id %}">
                    <img src="{{ p.image.url }}" alt="картинки нет" style="width:400px; height: 300px;  object-fit: contain;" href="{% url 'post_detail' p.id %}">
                    </a>
                {% else %}
                    <p>Картинка отсутствует</p>
                {% endif %}
            </div>
            <div>
                <p>{{ p.description }}</p>

                <a type="button" class="btn btn-primary" href="{% url 'like_post' p.id %}">
                      Нравится <span class="badge text-bg-secondary">{{ p.likes.count }}</span>
                </a>

                <a type="button" class="btn btn-danger" href="{% url 'dislike_post' p.id %}">
                      Не нравится <span class="badge text-bg-secondary">{{ p.dislikes.count }}</span>
                </a>

                <a type="button" class="btn btn-dark" href="{% url 'post_detail' p.id %}">
                      Комментарии <span class="badge text-bg-secondary">{{ p.post_comments.count }}</span>
                </a>

                {% if user.is_staff %}
                <a type="button" class="btn btn-dark" href="{% url 'delete_post' p.id %}">
                      Удалить пост
                </a>
                {% endif %}

                <hr>
            </div>
            </div>
        </div>
        {% endif %}
      {% endfor %}

    <div class="posts_pagination">
        <nav aria-label="...">
          <ul class="pagination">

            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
              <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}">Назад</a>
            </li>


          {% for page_number in page_obj.paginator.page_range %}

            <li class="page-item {% if page_number == page_obj.number %} active {% endif %}">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>


          {% endfor %}
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Вперед</a>
            </li>



          </ul>
        </nav>
    </div>


    </div>
</div>
{% endblock %}