{% extends 'base.html' %}


{% block content %}


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container pb50">
      <div class="row">
          <div class="col-md-9 mb40">
              <article>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" class="img-fluid mb30">
                {% else %}
                    <p>Картинка отсутствует</p>
                {% endif %}
                  <div class="post-content">
                      <h3>{{ post.title }}</h3>
                      <ul class="post-meta list-inline">
                          <li class="list-inline-item">
                              <i class="fa fa-user-circle-o"></i>

                            {% if post.author is not None %}
                              <a href="{% url 'profile' post.author.pk %}" style="text-decoration: none; color: inherit;">{{ post.author }}</a>
                            {% else %}
                             <a href="#">Аноним</a>
                            {% endif %}

                          </li>
                          <li class="list-inline-item">
                              <i class="fa fa-calendar-o"></i> <a href="#">{{ post.created_at }}</a>
                          </li>
                          <li class="list-inline-item">
                              <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                          </li>
                      </ul>

                      <p>{{ post.description }}</p>

                      <a type="button" class="btn btn-primary" href="{% url 'like_post' post.id %}">
                      Нравится <span class="badge text-bg-secondary">{{ post.likes.count }}</span>
                      </a>

                      <a type="button" class="btn btn-danger" href="{% url 'dislike_post' post.id %}">
                      Не нравится <span class="badge text-bg-secondary">{{ post.dislikes.count }}</span>
                      </a>

                      {% if user.is_staff %}
                      <a type="button" class="btn btn-dark" href="{% url 'delete_post' post.id %}">
                          Удалить пост
                      </a>
                      {% endif %}

                      {% if user.is_staff %}
                        <a type="button" class="btn btn-danger" href="{% url 'post_permaban' post.pk %}">
                            забанить создателя поста
                        </a>
                      {% endif %}


                      <hr class="mb40">
                      <h4 class="mb40 text-uppercase font500">Комментарии</h4>


    {% for comment in post.post_comments.all %}
    {% if comment.is_parent %}


          <div class="col-md-8">
                <div class="media g-mb-30 media-comment">
                    {% if comment.author is not None %}
                    <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{{ comment.author.image.url }}" alt="Image Description">
                    {% else %}
                    {% load static %}
                    <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{% static 'images/default55555.png' %}" alt="Image Description">
                    {% endif %}
                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                      <div class="g-mb-15">
                        {% if comment.author is not None %}
                        <a href="{% url 'profile' comment.author.pk %}" style="text-decoration: none; color: inherit;">
                        <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.author }}</h5>
                        </a>
                          {% else %}
                        <h5 class="h5 g-color-gray-dark-v1 mb-0">Аноним</h5>

                           {% endif %}

                        <span class="g-color-gray-dark-v4 g-font-size-12">{{ comment.created_at }}</span>
                      </div>

                      <p class="comment-images">{{ comment.formatted_text|safe }}</p>

                      {% if comment.image %}
                      <img src="{{ comment.image.url }}" alt="картинка по каким-то причинам не загрузилась..." class="comment-image">
                      {% endif %}

                      <ul class="list-inline d-sm-flex my-0">
                        <li class="list-inline-item g-mr-20">
                          <a type="button" class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="{% url 'like_comment' comment.id %}">
                            <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                              {{ comment.likes.count }}
                          </a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                          <a type="button" class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="{% url 'dislike_comment' comment.id %}">
                            <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                            {{ comment.dislikes.count }}
                          </a>
                        </li>

                          <div class="reply mx-0">

                              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{ comment.id }}" aria-expanded="false" aria-controls="replyBox{{ comment.id }}">
                                Reply
                              </button>

                              {% if user.is_staff or user == community.creator %}
                              <a type="button" class="btn btn-dark" href="{% url 'delete_comment' post.id comment.id %}">
                                  Удалить комментарий
                              </a>
                              {% endif %}

                              {% if user.is_staff %}
                                <a type="button" class="btn btn-danger" href="{% url 'comment_permaban' comment.pk %}">
                                    забанить комментатора
                                </a>
                              {% endif %}

                            <div class="collapse" id="replyBox{{ comment.id }}">
                              <div class="card card-body">
                                    <form id="reply_form" method="POST" action="{% url 'save_comment_reply' post.id comment.id %}" enctype="multipart/form-data">
                                    <input type="hidden" name="commentID" value="{{ comment.id }}">

                                        {% csrf_token %}
                                          <div class="form-group">
                                              <label>напишите ответ</label>

                                              {{ comment_form.text}}

                                          </div>
                                        <div class='form-group'>
                                        {{ comment_form.image }}
                                        </div>

                                          {% if request.user.is_authenticated %}

                                                <div class="form-check form-switch">

                                                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="anonymous">
                                                  <label class="form-check-label" for="flexSwitchCheckDefault">Анонимно</label>
                                                </div>
                                          {% endif %}


                                          <div class="clearfix float-right">
                                              <button type="submit" class="btn btn-primary btn-lg">Отправить комментарий</button>
                                          </div>
                                      </form>                                              </div>
                            </div>
                          </div>
                      </ul>
                    </div>
                </div>
            </div>


          {% for reply in comment.replies.all %}


              {% include 'post_comment.html' with comment=reply %}


          {% endfor %}


    {% endif %}
    {% endfor %}


  <hr class="mb40">
  <h4 class="mb40 text-uppercase font500">добавить комментарий</h4>
                      
    <form id="comment_form" method="POST" action="{% url 'save_comment' post.id %}" enctype="multipart/form-data">

        {% csrf_token %}
          <div class="form-group">
              <label>Комментарий</label>
              {{ comment_form.text}}


          </div>
            <div class='form-group'>

            {{ comment_form.image }}

            </div>



          {% if request.user.is_authenticated %}

                <div class="form-check form-switch">

                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="anonymous">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Анонимно</label>
                </div>
          {% endif %}


          <div class="clearfix float-right">
              <button type="submit" class="btn btn-primary btn-lg">Отправить комментарий</button>
          </div>
      </form>
                  </div>
              </article>
              <!-- post article-->

          </div>

      </div>
  </div>

{% endblock %}