<!-- post_comment.html -->

<div class="col-md-8 offset-md-1">
    <div class="media g-mb-30 media-comment">
        {% if comment.author is not None %}
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{{ comment.author.image.url }}" alt="Image Description">
        {% else %}
            {% load static %}
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{% static 'images/default55555.png' %}" alt="Image Description">
        {% endif %}
        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
            <div class="g-mb-15">
                {% if comment.author is not None %}
                <a href="{% url 'profile' comment.author.pk %}" style="text-decoration: none; color: inherit;">
                <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.author }}</h5>
                </a>
                {% else %}
                <h5 class="h5 g-color-gray-dark-v1 mb-0">Аноним</h5>
                {% endif %}
                <span class="g-color-gray-dark-v4 g-font-size-12">{{ comment.created_at }}</span>
            </div>
            <p class="comment-images">{{ comment.formatted_text|safe }}</p>
            {% if comment.image %}
            <img src="{{ comment.image.url }}" alt="картинка по каким-то причинам не загрузилась..." class="comment-image">
            {% endif %}
            <ul class="list-inline d-sm-flex my-0">
                <li class="list-inline-item g-mr-20">
                    <a type="button" class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="{% url 'like_comment' comment.id %}">
                        <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                        {{ comment.likes.count }}
                    </a>
                </li>
                <li class="list-inline-item g-mr-20">
                    <a type="button" class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="{% url 'dislike_comment' comment.id %}">
                        <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                        {{ comment.dislikes.count }}
                    </a>
                </li>
                <div class="reply mx-0">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{ comment.id }}" aria-expanded="false" aria-controls="replyBox{{ comment.id }}">
                        Reply
                    </button>

                    {% if user.is_staff %}
                     <a type="button" class="btn btn-dark" href="{% url 'delete_comment' post.id comment.id %}">
                          Удалить комментарий
                     </a>
                     {% endif %}

                    {% if user.is_staff %}
                    <a type="button" class="btn btn-danger" href="{% url 'comment_permaban' comment.pk %}">
                        забанить комментатора
                    </a>
                    {% endif %}

                    <div class="collapse" id="replyBox{{ comment.id }}">
                        <div class="card card-body">
                            <form id="reply_form" method="POST" action="{% url 'save_comment_reply' post.id comment.id %}" enctype="multipart/form-data">
                                <input type="hidden" name="commentID" value="{{ comment.id }}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>напишите ответ</label>
                                    {{ comment_form.text}}
                                </div>
                                <div class='form-group'>
                                    {{ comment_form.image }}
                                </div>
                                {% if request.user.is_authenticated %}
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="anonymous">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Анонимно</label>
                                    </div>
                                {% endif %}
                                <div class="clearfix float-right">
                                    <button type="submit" class="btn btn-primary btn-lg">Отправить комментарий</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ul>


        </div>
    </div>
</div>
<!-- Рекурсивный вызов шаблона для отображения реплаев на реплаи -->
{% for reply in comment.replies.all %}

    {% include 'post_comment.html' with comment=reply %}

{% endfor %}

