<!-- chat/templates/chat/index.html -->
{% extends 'base.html' %}

{% block title %}
Chat Rooms
{% endblock %}
{% block content %}
<body>
    Напишите название комнаты<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    {% for chat in chats %}
    <p>
        <a href="{% url 'room' room_name=chat.name %}">
        {{ chat }}
        </a>
        участники чата: {{ chat.participants.all }}
    </p>
    <a type="button" class="btn btn-primary" href="">
          Пригласить юзера
    </a>
    <a type="button" class="btn btn-danger" href="{% url 'delete_chat' chat.name %}">
          удалить чат
    </a>
    {% endfor %}

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
{% endblock %}